[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/bundle/closetag.vim"]
	path = vim/bundle/closetag.vim
	url = git@github.com:airblade/vim-gitgutter.git
